<template>
  <div>
    <gl-alert
      variant="error"
      title="Alert title"
      primary-button-text="Primary"
      secondary-button-text="Secondary"
      class="gl-mb-3"
    >
      Error lorem ipsum dolor sit
      <gl-link href="#">text link</gl-link> amet
    </gl-alert>
  </div>
</template>
